*{
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Times, serif;

}

header{
	background-image: url("medicalBack2.jpg");
	height: 500vh;
	background-size: cover;
	background-position: center;
}

.title{
	position: absolute;
	top: 3%;
	left: 40%;
}

.title h1{
	color: white;
	font-size: 40px
}

.label{
	position: absolute;
  /*
	top: 60%;
	left: 10%; */
}
.dropdown{
	position: absolute;
	right: 5%;
	top: 5%;

}


.dropbtn {
	display: inline-block;
	border: 1px solid #fff;
	padding: 5px 20px;
	font-size: 20px

}

.menu_content {
	display: none;
  	position: absolute;
  	background-color: #fff;
  	min-width: 120px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.menu_content a{
	font-family: "Times New Roman", Times, serif;
	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}

.menu_content a:hover {background-color: #ddd;}

.dropdown:hover .menu_content {display: block;}

* {box-sizing:border-box}

.slideshow {
  top: 2.5%;
  max-width: 1000px;
  max-height: 500px;
  position: relative;
  margin: auto;
}

.Slides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  position: relative;
  left: 48%;
  top: 2%;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#product {
  width: 300px;
  height: 180px;
}



