
h1 {
    text-align: center;
    position: absolute;
    letter-spacing: 7px;
    font-size: 40px;
    font-weight: 700;
    right: 10%;
    top: 9%;
    color: #fca603;
    margin-top: 100px;
}

.header {
    display: inline-block;
    margin-left: 300px;
}
.product_details{
    box: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    font-size: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: 60%;
    margin-top: -25%;
    color: #ffffff;
}

.price{
    position: absolute;
    right: 26%;
    top: 50%;
    font-size: 25px;
}



.product_details button{
    font-size: 22px;
    margin-top: 30%;
    margin-left: 10%;

}

img{
    display: block;
    margin-top: 11%;
    margin-left: 5%;
    margin-right: auto;
    width: 600px;
    height: 400px;
    padding: 20px;

}

.identifier {
    font-weight: bold;
}

button {
    margin: 20px;
    margin-left: 50px;
    padding: 5px 10px;
}

body {
    background-image: url(medicalBack2.jpg);
    background-size: cover;
    height: 100vh;
}